[submodule "templates/acmart-primary"]
	path = templates/acmart-primary
	url = https://github.com/andstor/acm-primary-article-template.git
[submodule "templates/ieee-conference"]
	path = templates/ieee-conference
	url = https://github.com/andstor/ieee-conference-template.git
